/* ! Variables */
/* ! Fonts */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoRegular.woff2") format("woff2"), url("../fonts/LatoRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoSemiBold.woff2") format("woff2"), url("../fonts/LatoSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoBold.woff2") format("woff2"), url("../fonts/LatoBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoExtraBold.woff2") format("woff2"), url("../fonts/LatoExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
/* ! Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  vertical-align: top;
}

/* ! General styles */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFF;
  padding: 12.5px;
  background: #3E9CDC;
  border: 1px solid #FFF;
  border-radius: 4px;
  min-width: 183px;
  transition: 0.2s all;
}
.button:hover {
  color: #3E9CDC;
  background: #FFF;
  border: 1px solid #3E9CDC;
}

/* ! Header */
.header {
  position: fixed;
  z-index: 100;
  height: 100px;
  width: 100%;
  background: rgba(16, 16, 29, 0.9);
  display: flex;
  align-items: center;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-logo__icon {
  width: 245px;
  height: 21px;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 3;
  overflow: hidden;
  display: none;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger__item {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.25s;
}
.hamburger__item:nth-of-type(2) {
  top: calc(50% - 6px);
}
.hamburger__item:nth-of-type(3) {
  top: calc(50% + 6px);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__item {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-right: 60px;
  transition: 0.2s all;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  color: #43ABF0;
}
.menu__item_active {
  color: #43ABF0;
}

/* ! Main */
.main {
  position: relative;
  padding: 203px 0;
  color: #000;
}
.main__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}
.main__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
  z-index: 3;
}
.main__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}
.main__title_blue {
  color: #3E9CDC;
}
.main__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
.main__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main__item {
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.main__item::before {
  content: "";
  display: block;
  width: 5px;
  height: 2px;
  margin: 10px;
  background: #000;
}
.main__buttons {
  display: flex;
  gap: 30px;
}
.main__button_white {
  color: #2A2B30;
  background: #FFF;
  border: 1px solid #6F6D7B;
}
.main__button_white:hover {
  color: #FFF;
  background: #6F6D7B;
  border: 1px solid #6F6D7B;
}

/* ! Order registration */
.order-registration {
  position: relative;
  background-color: #272733;
  color: #FFF;
  padding: 120px 0 150px 0;
}
.order-registration__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}
.order-registration__container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.order-registration__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}
.order-registration__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
}
.order-registration__title_blue {
  color: #3E9CDC;
}
.order-registration__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #BBB;
}

/* ! Work chain */
.work-chain {
  overflow-x: auto;
  margin-bottom: 65px;
}
.work-chain::-webkit-scrollbar {
  height: 7px;
}
.work-chain::-webkit-scrollbar-track {
  background: #3D4050;
  border: 0;
  border-radius: 15px;
}
.work-chain::-webkit-scrollbar-thumb {
  background-color: #3E9CDC;
  border-radius: 15px;
}
.work-chain__wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 1170px;
}
.work-chain__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 188px;
  gap: 20px;
  margin: 0 15px 15px 0;
}
.work-chain__circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3E9CDC;
  border: 5px solid #286690;
}
.work-chain__icon {
  display: block;
  max-width: 50px;
  max-height: 50px;
}
.work-chain__icon_search {
  width: 34px;
  height: 34px;
}
.work-chain__icon_percent {
  width: 31px;
  height: 31px;
}
.work-chain__icon_file {
  width: 39px;
  height: 42px;
}
.work-chain__icon_mail {
  width: 36px;
  height: 29px;
}
.work-chain__icon_money {
  width: 39px;
  height: 26px;
}
.work-chain__name {
  width: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.work-chain__dotted-line {
  position: absolute;
  left: 110px;
  display: flex;
  gap: 20px;
}
.work-chain__dot {
  width: 6px;
  height: 6px;
  background: #C4C4C4;
  border-radius: 50%;
}

/* ! Form */
.form {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  grid-template-areas: "dropdown email name" "slider slider file" ". btn .";
}
.form__input {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  background: #DFDFE0;
  border: 1px solid #DFDFE0;
  border-radius: 3px;
  padding: 12px 10px;
  outline: none;
}
.form__input_email {
  grid-area: email;
}
.form__input_name {
  grid-area: name;
}
.form__file {
  grid-area: file;
}
.form__file-input {
  display: none;
}
.form__file-label {
  height: 48px;
  background: #FFF;
  border: 2px solid #FFF;
  border-radius: 3px;
  transition: 0.2s all;
  color: #272733;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__file-label:hover {
  border: 2px solid #3E9CDC;
}
.form__file-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__button {
  grid-area: btn;
  margin-top: 20px;
}

/* ! Dropdown menu */
.dropdown-menu {
  position: relative;
  display: flex;
  cursor: pointer;
  grid-area: dropdown;
}
.dropdown-menu__header {
  width: 100%;
  height: 48px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFF;
  border-radius: 3px;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #272733;
}
.dropdown-menu__arrow {
  transition: 0.2s all;
  fill: #fff;
}
.dropdown-menu__title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.dropdown-menu__list {
  position: absolute;
  width: 100%;
  height: 190px;
  bottom: -190px;
  display: none;
  gap: 10px;
  flex-direction: column;
  background-color: #272733;
  border: 1px solid #3D4050;
  border-radius: 3px;
  padding: 6px 10px 10px 10px;
  list-style-type: none;
  box-sizing: border-box;
  overflow-y: scroll;
  color: #FFF;
  font-size: 18px;
}
.dropdown-menu__list::-webkit-scrollbar {
  width: 7px;
  background: #3D4050;
  border-radius: 3px;
}
.dropdown-menu__list::-webkit-scrollbar-thumb {
  width: 7px;
  height: 53px;
  background: #3E9CDC;
  border-radius: 3px;
}
.dropdown-menu__list.active {
  display: block;
}
.dropdown-menu__item {
  display: block;
  padding: 7px 0;
  font-weight: 400;
  font-size: 17px;
  color: #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.2s all;
}
.dropdown-menu__item:hover {
  color: #42A9ED;
  cursor: pointer;
}
.dropdown-menu.active .dropdown-menu__header {
  background: #3D4050;
  border-radius: 3px 3px 0px 0px;
  border: 1px solid #3D4050;
  color: #FFF;
}
.dropdown-menu.active .dropdown-menu__arrow {
  transform: rotate(180deg);
}
.dropdown-menu.active:hover svg path {
  fill: #fff;
}

/* ! Slider */
.slider {
  grid-area: slider;
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider__header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.slider__value {
  opacity: 85%;
}
.slider__input {
  -webkit-appearance: none;
  outline: none;
  height: 6px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-radius: 5px;
}
.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #42A9ED;
  border: 3px solid #286690;
}

/* ! Footer */
.footer {
  height: 80px;
  background: #3D4050;
  display: flex;
  align-items: center;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s all;
}
.footer__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  white-space: nowrap;
}
.footer__text_grey {
  color: #C3C3C3;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__wrapper_payment {
  gap: 40px;
}
.footer__wrapper_payment::after {
  content: "";
  width: 1px;
  height: 18px;
  background: #C3C3C3;
}
.footer__wrapper_payment::before {
  content: "";
  width: 1px;
  height: 18px;
  background: #C3C3C3;
}
.footer__wrapper_contacts {
  gap: 40px;
}

/* ! Media queries */
@media screen and (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .main__title {
    font-size: 44px;
  }
  .form {
    gap: 20px;
  }
  .footer {
    height: 100px;
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .footer__wrapper_payment {
    width: 100%;
    position: static;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer__wrapper_payment::after {
    display: none;
  }
  .footer__wrapper_payment::before {
    display: none;
  }
  .footer__wrapper_contacts {
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 940px) {
  .container {
    width: 720px;
  }
  .menu__item {
    margin-right: 35px;
  }
  .order-registration__title {
    font-size: 34px;
  }
  .work-chain__circle {
    width: 85px;
    height: 85px;
  }
  .work-chain__icon_search {
    width: 27px;
    height: 27px;
  }
  .work-chain__icon_percent {
    width: 26px;
    height: 26px;
  }
  .work-chain__icon_file {
    width: 34px;
    height: 37px;
  }
  .work-chain__icon_mail {
    width: 31px;
    height: 24px;
  }
  .work-chain__icon_money {
    width: 34px;
    height: 21px;
  }
  .form__input {
    font-size: 16px;
  }
  .form__file-text {
    font-size: 13px;
  }
  .form__button {
    font-size: 13px;
  }
  .dropdown-menu__title {
    font-size: 16px;
  }
  .slider__header {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .button {
    min-width: 240px;
  }
  .container {
    width: 540px;
  }
  .header__container {
    width: 95%;
  }
  .menu {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 280px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: rgba(16, 16, 29, 0.9);
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .menu__item {
    font-size: 15px;
    line-height: 20px;
  }
  .menu__item:not(:last-child)::after {
    margin-top: 15px;
    display: block;
    content: "";
    width: 200px;
    height: 1px;
    background: linear-gradient(to left, #282834, #c3c3c3);
  }
  .menu.active {
    transform: translateX(0);
    z-index: 1;
  }
  .hamburger {
    display: block;
  }
  .hamburger__item.active:nth-of-type(1) {
    display: none;
  }
  .hamburger__item.active:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .hamburger__item.active:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .main__container {
    gap: 60px;
  }
  .main__title {
    font-size: 40px;
    text-align: center;
  }
  .main__description {
    text-align: center;
  }
  .order-registration__subtitle {
    text-align: center;
  }
  .form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dropdown name" "email file" "slider slider" "btn btn";
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
  .header__logo {
    width: 200px;
  }
  .company-logo__icon {
    width: 200px;
  }
  .main__container {
    align-items: center;
  }
  .main__title {
    font-size: 30px;
    line-height: 46px;
  }
  .main__buttons {
    max-width: 300px;
    flex-direction: column;
    gap: 15px;
  }
  .order-registration__title {
    font-size: 28px;
  }
  .order-registration__subtitle {
    font-size: 16px;
  }
  .form {
    align-self: center;
    grid-template-columns: 1fr;
    grid-template-areas: "dropdown" "name" "email" "file" "slider" "btn";
  }
  .dropdown-menu__list {
    height: 180px;
    bottom: -180px;
  }
  .dropdown-menu__item {
    font-size: 15px;
  }
  .slider__header {
    font-size: 14px;
  }
}
@media screen and (max-width: 440px) {
  .main__subtitle {
    font-size: 18px;
  }
  .main__item {
    font-size: 18px;
  }
  .footer {
    height: 120px;
  }
  .footer__text {
    font-size: 10px;
  }
  .footer__wrapper {
    gap: 10px;
  }
}
@media screen and (max-width: 346px) {
  .slider {
    margin-bottom: 10px;
  }
  .slider__header {
    flex-direction: column;
    gap: 3px;
  }
  .slider__value {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .slider__input {
    height: 4px;
  }
  .slider__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
  }
}/*# sourceMappingURL=style.css.map */